header{
    background: rgb(3, 15, 121);
    color: white;
    padding: 2rem 0;
    margin-bottom: 50px;
    text-align: center;
}

body{
   font-family: georgia, times, serif;
   color: #333;
   font-size: 1.2rem;
   line-height: 1.6em;
   margin: 0;
 }
  


.container{
    width: 75%;
    margin: 0 auto;
    
}
.todo{
    margin-top: 3em;
    height: 455px;
    border-bottom: 2px solid  #ccc;
}
.product{
    margin: auto;
    width: 200px;
    height: 200px;
    text-align: center;
}
.product img{
    display: block;
}
